body {
    padding: 100px;
    margin: 0 auto;
    max-width: 100%;
}

.list > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: -25px;
  }

.list {
    display: grid;
    grid-gap: 150px 50px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(4, 100px);

    justify-content: center;
    align-content: center;
}

.flex-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

#search {
    width: 40%;
    height: 30px;;
}


/* Trying new stuff down there */

/* body {
    max-width: 900px;
    border: 2px solid red;
    text-align: center;
    margin: 0 auto;
}

 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 4px;
    padding-top: 25px;
}

 

.column {
    flex: 25%;
    padding-top: 50px;
} */

/*  

.column a img {
    margin-top: 8px;
    vertical-align: middle;
    padding-top: 50px;
} */
