body {
    padding: 100px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

body > div {
    margin: 0;
}
h1 {
    text-align: center;
    color: gold;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 3em;
    padding: 1em;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.flex-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

#search {
    width: 200px;
    height: 30px;
}

    
@media (min-width: 768px ) {
    .container {
        /* max-width: 100%; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 3em;
        padding: 1em;
        justify-items: center;
        align-items: center;

    }
    #search {
        width: 50%;
    }
}

@media (min-width: 900px ) {
    .container {
        /* max-width: 100%; */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 3em;
        padding: 1em;
        justify-items: center;
        align-items: center;

    }
    #search {
        width: 50%;
    }
}

@media (min-width: 1024px ) {
    .container {
        /* max-width: 90%; */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 3em;
        padding: 1em;
        justify-items: center;
        align-items: center;

    }
    #search {
        width: 50%;
    }
}
